web3
requests
urllib3
six
certifi
websocket-client
python-dotenv
pandas
google-cloud-storage
numpy
fsspec>=2023.0
gcsfs>=2023.0
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
